@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-ExtraBold.woff") format("woff"), url("/fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-BoldItalic.woff") format("woff"), url("/fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-Italic.woff") format("woff"), url("/fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-LightItalic.woff") format("woff"), url("/fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-Semibold.woff") format("woff"), url("/fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/fonts/OpenSans-SemiboldItalic.woff") format("woff"), url("/fonts/OpenSans-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?c2a3mp");
  src: url("/fonts/icomoon.eot?c2a3mp#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?c2a3mp") format("truetype"), url("/fonts/icomoon.woff?c2a3mp") format("woff"), url("/fonts/icomoon.svg?c2a3mp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e900";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  -o-transition: transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.burger {
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.burger:before,
.burger:after,
.burger span {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger span {
  top: 8px;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-right: 20px;
}

.contact__phone {
  height: 25px;
}

.contact__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 780px;
          flex: 0 1 780px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

.law-data {
  margin-top: 30px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.law-data p + p {
  margin-top: 18px;
}

.law-data__titles {
  font-weight: 600;
  margin-right: 10px;
}

body {
  font-family: "OpenSans", sans-serif;
  background: url("/img/bg.png");
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-header {
  background-color: #f0f7fa;
  color: #231f20;
  font-size: 13px;
  line-height: 22px;
  padding: 15px 0 12px;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__item {
  padding-left: 25px;
}

.top-header__item_sity {
  background: url("/img/icons/sity.png") left center no-repeat;
}

.top-header__item_sity span {
  color: #4790ae;
  font-weight: 700;
}

.top-header__item_address {
  background: url("/img/icons/address.png") left center no-repeat;
  background-size: 14px;
}

.top-header__item_mail {
  background: url("/img/icons/mail.png") left center no-repeat;
  background-size: 17px;
}

.top-header__item_time {
  background: url("/img/icons/time.png") left center no-repeat;
  background-size: 18px;
}

.middle-header {
  padding: 15px 0;
  position: relative;
}

.middle-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-header__item img {
  width: 155px;
}

.callback__burger {
  display: none;
}

.callback__burger:before,
.callback__burger:after,
.callback__burger span {
  background-color: #19bdff;
}

.callback__phone {
  font-weight: 600;
  font-size: 22px;
  line-height: 46px;
  display: inline-block;
  padding-left: 32px;
  background: url("/img/icons/phone.png") left center no-repeat;
  margin-right: 25px;
}

.button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 46px;
  width: 280px;
  height: 46px;
  -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 23px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffaa17), to(#ffcb30));
  background-image: -o-linear-gradient(bottom, #ffaa17 0%, #ffcb30 100%);
  background-image: linear-gradient(to top, #ffaa17 0%, #ffcb30 100%);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}

.button_l {
  width: 360px;
}

.bottom-header {
  background-color: #19bdff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.bottom-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  position: relative;
  margin-left: -10px;
}

.menu__list {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px;
  top: 100%;
  left: 0;
  color: #2f2e2d;
  font-weight: 400;
  padding: 5px 20px;
}

.list-menu {
  z-index: 10;
  font-size: 15px;
  display: none;
}

.list-menu.lock {
  display: block;
}

.item-list {
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}

.item-list:last-of-type {
  border-bottom: 0;
}

.item-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 38px;
  padding: 15px 0 15px 38px;
}

.item-list__title_dentist {
  background: url("/img/header/dentist.png") left center no-repeat;
}

.item-list__title_study {
  background: url("/img/header/study.png") left center no-repeat;
}

.item-list__title_s086 {
  background: url("/img/header/086.png") left center no-repeat;
}

.item-list__title_catering {
  background: url("/img/header/catering.png") left center no-repeat;
}

.item-list__title_sport {
  background: url("/img/header/sport.png") left center no-repeat;
}

.item-list__title_work {
  background: url("/img/header/work.png") left center no-repeat;
}

.item-list__title span {
  line-height: 18px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-list__subitem-list {
  display: none;
}

.item-list__subitem {
  display: block;
  color: #2f2e2d;
  margin-left: 25%;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.item-list__subitem + .item-list__subitem {
  margin-top: 10px;
}

.item-list__subitem:last-of-type {
  border-bottom: 0;
}

.menu-btn {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffaa17), to(#ffcb30));
  background-image: -o-linear-gradient(bottom, #ffaa17 0%, #ffcb30 100%);
  background-image: linear-gradient(to top, #ffaa17 0%, #ffcb30 100%);
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn__burger {
  display: inline-block;
  margin-right: 10px;
}

.arrow {
  font-size: 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.arrow.active {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

.nav__item {
  color: #fff;
}

.intro__form {
  margin: 20px 0 0 298px;
  padding: 0 10px;
  background: url("/img/index/bg-intro.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  height: 415px;
}

.intro__form_l {
  margin: 0;
}

.intro__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 740px;
  margin: 0 auto;
}

.intro__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  color: #434343;
  margin-bottom: 30px;
}

.intro__subtitle {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  background-color: #19bdff;
  border-radius: 10px;
  margin: 0 0 30px;
  padding: 10px 0;
}

.intro__container {
  margin: 0 0 25px;
}

.intro__button {
  margin: 0 auto;
}

.form-section {
  padding: 60px 0;
}

.form-section__form {
  padding: 30px 75px 55px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  background-color: #f8f7f3;
}

.form-section__form_message {
  padding: 30px 0;
}

.form-section__button {
  margin-left: 30px;
}

.form-section__button_message {
  margin: 20px auto 0;
}

.form-section__container_message {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 720px;
  margin: 0 auto;
}

.form {
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.4);
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__title {
  line-height: 1.1;
  font-size: 51px;
  color: #19bdff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
}

.form__input {
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #666666;
  background-color: #ffffff;
  border-radius: 23px;
  padding-left: 20px;
  height: 46px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form__input + .form__input {
  margin-left: 20px;
}

.form__input_message {
  resize: vertical;
  min-height: 92px;
  max-height: 200px;
  width: 100%;
  padding: 16px 20px 0;
  margin-top: 20px;
  margin-left: 0;
}

.form__message {
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #666666;
  background-color: #ffffff;
  border-radius: 23px;
  min-height: 92px;
  max-height: 200px;
  width: 100%;
  padding: 16px 20px 0;
  margin-top: 20px;
}

.section {
  padding: 60px 0;
}

.section__title {
  text-align: center;
  color: #434343;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 40px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item + .advantages__item {
  margin-left: 10px;
}

.advantages__icon {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 18px;
}

.advantages__text {
  font-weight: 700;
  text-align: center;
}

.about {
  position: relative;
  background: url("/img/index/bg-doc.png") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.about_product {
  background: none;
}

.about__container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__container + .about__container {
  margin-top: 40px;
}

.about__text {
  width: 49%;
  line-height: 20px;
  font-size: 15px;
}

.about__description {
  margin-bottom: 25px;
}

.about__strong {
  margin-bottom: 25px;
}

.about__list li {
  padding-left: 18px;
  position: relative;
  margin-bottom: 5%;
}

.about__list li:last-child {
  margin-bottom: 0;
}

.about__list li:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #19bdff;
  top: 6px;
  left: 0;
}

.about__img {
  width: 49%;
}

.about__img img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.about__price {
  font-weight: 600;
  color: #ffaa17;
  font-size: 30px;
  margin-top: 30px;
}

.about__button {
  margin: 40px auto 0;
  display: block;
}

.rights {
  background-color: #f8f7f3;
  padding: 60px 0;
}

.rights__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rights__item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding-right: 10px;
}

.rights__item:last-child {
  padding-right: 0;
}

.rights__icon {
  margin-bottom: 15px;
}

.rights__text {
  font-weight: 700;
}

.price {
  padding-bottom: 0px;
}

.price_b {
  padding-bottom: 60px;
}

.price__text {
  margin: -10px auto 25px;
  max-width: 780px;
  line-height: 20px;
}

.price__content {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 15px;
  padding: 20px;
  max-width: 780px;
  margin: 0 auto;
}

.price__title {
  font-weight: 700;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #19bdff;
  padding-bottom: 15px;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 15px 15px;
}

.price__row:nth-child(odd) {
  background-color: #e3f4fb;
}

.price__left-col {
  width: 80%;
}

.price__link {
  text-decoration: underline;
  color: #1285b3;
}

.price__right-col {
  white-space: nowrap;
}

.price__button {
  display: block;
  margin: 60px auto 0;
}

.cards__title {
  margin-bottom: 27px;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__container .owl-item {
  padding: 13px 0;
}

.cards__container .owl-dots {
  margin-top: 7px;
}

.cards__item {
  width: 32%;
}

.cards__item:nth-last-child(-n+3) {
  margin-top: 3%;
}

.card {
  text-align: center;
}

.card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer-card {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
}

.footer-card__title {
  color: #030334;
  margin-bottom: 15px;
}

.footer-card__price {
  color: #ffaa17;
  margin-bottom: 15px;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #c1c1c1;
  margin-right: 6px;
}

.owl-carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #ffaa17;
}

.delivered {
  background-color: #f8f7f3;
}

.delivered__text {
  margin: -10px 0 35px;
  line-height: 20px;
  font-size: 15px;
}

.delivered__text p + p {
  margin-top: 20px;
}

.delivered__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivered__item {
  font-weight: 700;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.delivered__title {
  margin-bottom: 16px;
}

.delivered__subtitle {
  color: #19bdff;
  font-size: 50px;
  white-space: nowrap;
}

.reviews {
  background-color: #f8f7f3;
}

.reviews__container {
  padding: 0 15px;
  position: relative;
}

.reviews__container .owl-item {
  padding: 16px;
}

.reviews__container .owl-prev {
  position: absolute;
  left: 0px;
  top: 50%;
}

.reviews__container .owl-next {
  position: absolute;
  right: 0px;
  top: 50%;
}

.reviews__container .owl-dots {
  margin-top: 4px;
}

.reviews__item {
  padding: 40px 20px 35px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.reviews__title {
  color: #454545;
  font-weight: 600;
  margin-bottom: 13px;
}

.reviews__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 17px;
}

.reviews__description {
  font-size: 15px;
  line-height: 20px;
}

.reviews__button {
  display: block;
  margin: 4px auto 0;
}

.carousel-arrow {
  border-top: 2px solid #19bdff;
  border-right: 2px solid #19bdff;
  padding: 10px;
  position: absolute;
}

.carousel-arrow_right {
  -webkit-transform: translate3d(-70%, -50%, 0) rotateZ(45deg);
          transform: translate3d(-70%, -50%, 0) rotateZ(45deg);
}

.carousel-arrow_left {
  -webkit-transform: translate3d(-30%, -50%, 0) rotateZ(-135deg);
          transform: translate3d(-30%, -50%, 0) rotateZ(-135deg);
}

.map-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-section__map {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 780px;
          flex: 1 1 780px;
  margin-right: 20px;
  overflow: hidden;
}

.map-section__map iframe {
  width: 100%;
  height: 100%;
}

.line-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 22px;
  font-size: 15px;
}

.line-contact + .line-contact {
  margin-top: 20px;
}

.line-contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  margin-right: 9px;
}

.line-contact__link {
  text-decoration: underline;
  color: #1285b2;
}

.contact-form {
  background-color: #fff;
  padding: 35px 25px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 380px;
          flex: 0 2 380px;
}

.contact-form__phone {
  height: 25px;
}

.contact-form__item {
  font-size: 20px;
}

.contact-form__form-container {
  margin-top: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-form__button {
  margin-top: 20px;
  width: 100%;
}

.footer {
  background-color: #0d5f80;
  color: #ffffff;
  font-size: 15px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 25%;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__text {
  color: #fff;
}

.footer__text + .footer__text {
  margin-top: 18px;
}

.contact-footer__wrapper:nth-child(3) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contact-footer__wrapper + .contact-footer__wrapper {
  margin-top: 16px;
}

.contact-footer__icon {
  width: 17px;
  margin-right: 13px;
}

.contact-footer__item {
  line-height: 22px;
}

.copyright {
  border-top: 1px solid #fff;
  padding: 20px 0 16px;
}

.copyright__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright__link {
  color: #fff;
  margin-left: 20px;
}

.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.popup-wrapper__overlay {
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup-callback {
  display: none;
  background: url("/img/index/bg-intro.jpg") center no-repeat;
  width: 408px;
  padding: 40px 70px;
  position: fixed;
  top: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.popup-callback__title {
  text-transform: uppercase;
  color: #434343;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.popup-callback__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-callback__input + .popup-callback__input {
  margin: 10px 0 24px;
}

.popup-callback__button {
  width: 100%;
}

.popup-close {
  font-weight: 700;
  color: #434343;
  font-size: 23px;
  position: absolute;
  right: 12px;
  top: 12px;
  line-height: 12px;
}

.popup-thank {
  display: none;
  background: url("/img/index/bg-intro.jpg") center no-repeat;
  width: 350px;
  text-align: center;
  padding: 40px 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.popup-thank__title {
  text-transform: uppercase;
  color: #19bdff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.popup-thank__subtitle {
  color: #434343;
  font-size: 20px;
  font-weight: 700;
}

.crumbs {
  margin: 20px 0 -40px;
  font-size: 15px;
  line-height: 20px;
}

.crumbs__link {
  color: #19bdff;
}

.text-section {
  background-color: #f8f7f3;
  font-size: 15px;
  line-height: 20px;
}

.text-section_bg-pic {
  position: relative;
  background: url("/img/card/bg-doc2.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.text-section_bg-tran {
  background-color: transparent;
  padding-bottom: 0;
}

.text-section__text {
  margin-bottom: 18px;
}

.text-section__text:last-child {
  margin-bottom: 0;
}

.services {
  padding-bottom: 0;
  margin-bottom: -40px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: 32%;
  margin-bottom: 40px;
}

.services__footer .footer-card__title {
  margin-bottom: 0;
}

@media (min-width: 767.89px) {
  .callback__content {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .top-header__item {
    padding-left: 20px;
  }

  .callback__phone {
    padding-left: 0;
    margin-right: 5px;
    background: none;
  }

  .intro__title {
    font-size: 28px;
  }

  .intro__subtitle {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .intro__container {
    margin-bottom: 20px;
  }

  .form-section__form {
    padding: 30px 20px 50px;
  }

  .form-section__button {
    margin-left: 15px;
  }

  .form-section__button_message {
    margin: 20px auto 0;
  }

  .form-section__input + .form-section__input {
    margin-left: 10px;
  }

  .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__text {
    width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__img {
    width: 80%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 30px;
  }

  .about__img img {
    margin: 0 auto;
  }

  .cards__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .cards__item {
    width: 45%;
  }

  .cards__item:nth-last-child(-n+4) {
    margin-top: 3%;
  }

  .delivered__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .delivered__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%;
  }

  .delivered__item:nth-last-child(-n+2) {
    margin-top: 30px;
  }

  .services__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .services__item {
    width: 40%;
  }

  .services__item:nth-last-child(-n+6) {
    display: none;
  }
}

@media (max-width: 767.89px) {
  .contact__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
    margin: 20px 0 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__line-contacts {
    margin-right: 20px;
  }

  .contact__map {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: 300px;
  }

  .top-header {
    display: none;
  }

  .callback__burger {
    display: block;
  }

  .callback__content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 100;
    text-align: center;
    background-color: #fff;
  }

  .callback__phone {
    display: block;
    margin-bottom: 10px;
  }

  .menu {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }

  .list-menu.lock {
    display: none;
  }

  .list-menu {
    display: none;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }

  .nav__item {
    color: #19bdff;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 0;
  }

  .intro__form {
    margin: 0 -15px;
    padding: 40px 2%;
    height: auto;
  }

  .form-section__form {
    padding: 30px 15px 50px;
  }

  .form-section__button {
    margin: 25px 10px 0;
  }

  .form-section__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__title {
    font-size: 40px;
  }

  .advantages__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 32%;
  }

  .advantages__item + .advantages__item {
    margin: 0;
  }

  .advantages__item:nth-last-child(-n+3) {
    margin-top: 30px;
  }

  .price__left-col {
    width: 75%;
  }

  .cards__item {
    width: 380px;
    margin: 0 auto;
  }

  .cards__item:nth-last-child(-n+4) {
    margin-top: 0;
  }

  .reviews__button {
    margin-top: 20px;
  }

  .map-section__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .map-section__map {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    margin-right: 0;
    margin: 0 0 20px;
    height: 350px;
  }

  .contact-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 auto;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__item {
    width: auto;
    max-width: 45%;
  }

  .footer__item:last-child {
    max-width: none;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
  }

  .services__item {
    width: 380px;
  }
}

@media (max-width: 480px) {
  .contact__title {
    margin-bottom: 30px;
  }

  .contact__container {
    margin: 0 -15px;
  }

  .contact__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__line-contacts {
    margin-right: 0;
  }

  .law-data__titles {
    margin-right: 50px;
  }

  .container_carousel {
    padding: 0;
  }

  .button_l {
    max-width: 360px;
    width: 100%;
    font-size: 17px;
    letter-spacing: -0.34px;
  }

  .menu-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__form {
    padding: 40px 15px;
  }

  .intro__title {
    font-size: 22px;
    margin-bottom: 35px;
  }

  .intro__subtitle {
    font-size: 22px;
  }

  .form-section {
    padding: 40px 0;
  }

  .form-section__form {
    margin: 0 -15px;
    padding: 30px 15px 40px;
  }

  .form-section__button {
    margin: 25px 0 0;
  }

  .form__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  .form__title_message {
    margin-bottom: 15px;
  }

  .form__input {
    width: 100%;
  }

  .form__input + .form__input {
    margin: 10px 0 0;
  }

  .form__input_message {
    margin-top: 10px;
  }

  .form__message {
    margin-top: 10px;
  }

  .section {
    padding: 40px 0;
  }

  .section__title {
    font-size: 22px;
  }

  .advantages__item {
    width: 47%;
  }

  .advantages__item:nth-last-child(-n+4) {
    margin-top: 30px;
  }

  .about_product .about__description {
    margin-bottom: 16px;
  }

  .about_product .about__strong {
    display: block;
    margin-bottom: 15px;
  }

  .about_product .about__list {
    display: block;
  }

  .about__container + .about__container {
    margin-top: 35px;
  }

  .about__text {
    width: 100%;
  }

  .about__description {
    margin-bottom: 0;
  }

  .about__strong {
    display: none;
  }

  .about__list {
    display: none;
  }

  .about__img {
    width: 100%;
    margin-bottom: 20px;
  }

  .about__price {
    margin-top: 10px;
  }

  .about__button {
    margin-top: 14px;
  }

  .rights {
    padding: 40px 0;
  }

  .rights__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .rights__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
  }

  .rights__item:last-child {
    margin-bottom: 0;
  }

  .rights__icon {
    margin-bottom: 18px;
  }

  .price {
    padding-bottom: 0;
  }

  .price_b {
    padding-bottom: 40px;
  }

  .price__content {
    margin: 0 -15px;
    padding: 20px 15px;
  }

  .price__title {
    padding: 0 15px 15px 0;
  }

  .price__row {
    padding: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__left-col {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .price__right-col {
    margin-left: 10px;
  }

  .price__right-col_t {
    width: 78px;
  }

  .price__button {
    margin: 20px auto 0;
  }

  .cards__container {
    display: block;
  }

  .cards__item {
    width: 320px;
  }

  .delivered__text p + p {
    margin-top: 18px;
  }

  .delivered__item {
    width: 100%;
  }

  .delivered__item:nth-last-child(-n+3) {
    margin-top: 30px;
  }

  .reviews__heading {
    margin-bottom: 14px;
  }

  .reviews__container {
    padding: 0;
  }

  .reviews__btn-wrap {
    padding: 0 15px;
  }

  .map-section__container {
    margin: 0 -15px;
  }

  .map-section__map {
    height: 300px;
  }

  .contact-form {
    padding: 35px 15px 40px;
  }

  .footer__item {
    max-width: none;
    width: 100%;
    margin-top: 25px;
  }

  .footer__item:first-child {
    margin-top: 0;
  }

  .footer__item:last-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .copyright__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    line-height: 22px;
  }

  .copyright__link {
    margin-left: 0;
    margin: 13px 0 0;
  }

  .popup-callback {
    width: 288px;
    padding: 40px 10px;
  }

  .popup-callback__button {
    margin-top: 24px;
  }

  .popup-thank {
    width: 288px;
    padding: 40px 10px;
  }

  .crumbs {
    margin-bottom: -20px;
  }

  .text-section_bg-tran {
    padding-bottom: 0;
  }

  .services {
    padding-bottom: 0;
  }

  .services__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 319px) {
  .container {
    min-width: 320px;
  }
}